body {
    background: linear-gradient(to bottom, #f8f8f8, #e0e0e0);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ddffb6;
    color: #000000;
    padding: 10px 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav {
    background-color: #47bfe7;
    padding: 10px 0;
    text-align: center;
    transition: transform 0.3s ease;
}
nav:hover {
    transform: scale(1.1);
}
nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #555;
    color: #fff;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
.logo {
    margin-right: 20px;
    transition: transform 0.3s ease;
}
.logo:hover {
    transform: scale(0.7);
}
#mision-btn,
#vision-btn {
    background-color: #5a3b3b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
#mision-btn:hover,
#vision-btn:hover {
    background-color: #ff6600;
    color: white;
}